<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="dgtbc_Trupp1_Start.Format" value="" />
		<add key="dgtbc_Trupp1_Start.HeaderText" value="Start" />
		<add key="dgtbc_Trupp1_Start.MappingName" value="" />
		<add key="dgtbc_Trupp1_Start.ReadOnly" value="False" />
		<add key="dgtbc_Trupp1_Start.Width" value="75" />
	</appSettings>
</configuration>